.header-container {
    grid-area: header;
    display: flex;
  
    background-color: #644431;
    color: #FEFFE7;
  }

.header-grid {
    display: grid;
    grid-template-columns: 5em 0.8fr 1.7fr auto 5em;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". sitetitle . navbar .";

    height: 100%;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .header-grid {
        grid-template-columns: 2.5em 0.8fr 0.5fr 0.5fr 1em;
        grid-template-areas:
        ". sitetitle . navbar .";
    }
}

.sitetitle { 
    grid-area: sitetitle;
    display: flex;
    align-items: center;
}

