.header-container {
    grid-area: header;
    display: flex;
  
    background-color: var(--sec-color);
    color: var(--prim-color);
  }

.header-grid {
    display: grid;
    grid-template-columns: 5em auto 0.1fr auto 5em;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". sitetitle . navbar .";

    height: 100%;
    width: 100%;
}

.sitetitle { 
    grid-area: sitetitle;
    display: flex;
    align-items: center;
}

.sitetitle::after {
    content: "";
    height: 2em;
    width: 0.125em;
    margin: 1em;
    background-color: #32281f;
}

@media screen and (max-width: 720px) {
    .header-grid {
        grid-template-columns: 2em auto 0.1fr auto 2em;
        grid-template-areas:
        ". sitetitle . navbar .";
    }

    .sitetitle::after {
        content: unset;
    }
    
    .h1 {
        
    }
}


