.navbar { 
    grid-area: navbar; 
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 3em;

    background-color: var(--prim-color);
    color: black;
    border-radius: 1em;
}

.navbar::before {
    content: "";
    height: 2em;
    width: 0.125em;
    margin: 1em;
    background-color: var(--text-color);
}
