@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

:root {
  --prim-color: #FEFFE7;
  --sec-color: #644431;
  --title-color: #47362c;
  --text-color: #32281f;
  --bck-color: #A97953;
}



h1, h2 {
  font-family: 'Rochester', cursive;
}

.App {
  display: grid;
  grid-template-columns: 2.5em 1fr 2.5em;
  grid-template-rows: 5em auto 2em;
  grid-template-areas: 
  "header header header"
  ". main ."
  "footer footer footer";
  
  height: 100%;


  background-color: var(--bck-color);
}

.App-sidebar {
  grid-area: sidebar;

}

.App-main {
  grid-area: main;
  display: flex;

  background-color: var(--prim-color);
}

.App-footer {
  grid-area: footer;

  background-color: var(--sec-color);
}

.content-container {
  width: 100%;

  background-color: var(--prim-color);
}

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 1em;
}

.separator-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;

  height: 100%;
  width: 1em;
}

.separator {
  width: 0.125em;
  height: 95%;
  
  background-color: var(--sec-color);
}

.avatar-container {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  height: 10em;

}

.content-grid {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 2em auto 2em;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". contentp ."
    ". . .";
  height: 100%;
}

.content-place {
  grid-area: contentp;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 2em 0 2em;
}

@media screen and (max-width: 1080px) {
  .App {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 5em auto 5em;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
    height: 100%;
  }

  .App-main {
    flex-direction: column;
  }
  
  .middle-container {
    display: none;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-rows: 3em 2.6fr 3em;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". contentp ."
      ". . .";
    height: 100%;
  }

  #works {
    order: 1;
  }

  #aboutme {
    order: 2;
  }
}