@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

h1, h2 {
  font-family: 'Rochester', cursive;
}

.App {
  display: grid;
  grid-template-columns: 2.5em 1fr 2.5em;
  grid-template-rows: 5em auto 5em;
  grid-template-areas: 
  "header header header"
  ". main ."
  "footer footer footer";
  
  height: 100%;


  background-color: #A97953;
}

.App-sidebar {
  grid-area: sidebar;

  background-color: #da39da;
}

.App-main {
  grid-area: main;
  display: flex;

  background-color: #FEFFE7;
}

.App-footer {
  grid-area: footer;

  background-color: #644431;
}

.content-container {
  width: 100%;

  background-color: #FEFFE7;
}

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1em;
}

.separator-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;

  height: 100%;
  width: 1em;
}

.separator {
  width: 0.125em;
  height: 95%;
  
  background-color: #644431;
}

.avatar-container {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  height: 10em;

}

.content-grid {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.1fr;
  grid-template-rows: 3em 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". contentp ."
    ". . .";
  height: 100%;
}

.content-place {
  grid-area: contentp;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.row {
  display: flex;
  align-items: center;
  padding: 0 2em 0 2em;
}

@media screen and (max-width: 720px) {
  .App {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 5em auto 5em;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
    height: 100%;
  }

  .App-main {
    flex-direction: column;
  }
  
  .middle-container {
    display: none;
  }

  #works {
    order: 1;
  }

  #aboutme {
    order: 2;
  }
}